header {
    position: absolute;
    top:0;
    height:3em;
    left:0;
    z-index: 999;
    width:100%;

    h1 {
        color:#fff;
        padding-top: 1em;
        font-size: 3em;
        font-weight:700;
        text-decoration: none;
    }
}

.main-menu {
    width:87.5%;
    margin:3em auto;
    position: relative;

    &:before {
        @include before-after(100%, 2px);
        border-top:2px solid #fff;
        left:0;
        bottom:-1.0em;
    }

    ul {
        @extend .flex-go;
        
    }


    li {
        text-transform: uppercase;
        width:16.66667%;
        font-weight:700;

        a {
            position: relative;
            display: block;
            text-align:center;
            color:#fff;
            text-decoration: none;
       

            &:hover {
                cursor: pointer;
            }
        }

   
    }  //li


}
